<!DOCTYPE HTML>
<html>
	<head>
		<title>Update Operation</title>
	</head>

	<body>
		<div>
			<h1>Update Operation</h1>
		</div>
		<div>
			{{#each sendData}}
			<h3>ID: {{this._id}}</h3>
			<form action="/update" method="POST">
				<input type="text" name="updatedName" value="{{this.name}}" placeholder="name" autocomplete="off">
				<input type="email" name="updatedEmail" value="{{this.email}}" placeholder="email" autocomplete="off">
				<input type="hidden" name="id" value="{{this._id}}">
				<input type="submit" value="Update">
			</form>
			{{/each}}
		</div>

	</body>
</html>